db.sqlite3
teleservicosapp/__pycache__/*
apps/core/__pycache__/*
apps/categories/__pycache__/*
apps/clients/__pycache__/*
apps/orders/__pycache__/*
apps/profissionais/__pycache__/*
apps/products/__pycache__/*
apps/materiais/__pycache__/*
apps/atendimentos/__pycache__/*
apps/accounts/__pycache__/*
apps/servicos/__pycache__/*
apps/tiposdeprofissional/__pycache__/*

apps/core/migrations/migrations/__pycache__/*
apps/categories/migrations/__pycache__/*
apps/clients/migrations/__pycache__/*
apps/orders/migrations/__pycache__/*
apps/profissionais/migrations/__pycache__/*
apps/products/migrations/__pycache__/*
apps/materiais/migrations/__pycache__/*
apps/atendimentos/migrations/__pycache__/*
apps/accounts/migrations/__pycache__/*
apps/servicos/migrations/__pycache__/*
apps/tiposdeprofissional/migrations/__pycache__/*