db.sqlite3
teleservicosapp/__pycache__/*
apps/accounts/__pycache__/*
apps/tendimento/__pycache__/*
apps/clients/__pycache__/*
apps/core/__pycache__/*
apps/materiais/__pycache__/*
apps/profissional/__pycache__/*
apps/servicos/__pycache__/*
apps/tipodeprofissional/__pycache__/*